.invisible{
    position: absolute;
    display: none;
    transition: all 0.1s linear;

}

.visible{
    position: absolute;
    z-index: 1;
    display: visible;
    transition: all 0.1s linear; 
 
}



#header{
    background-color: blue;
}

#body{
    color: white;
}